{% extends 'base.html' %}

{% block body %}

<div class="col-md-2 col-sm-2"></div>
<div class="col-md-8 col-md-offset-2 col-sm-8">
    <img src="static/img/title.png" alt="" class="img-fluid">
    <div style="margin-bottom:20px"></div>
        <form method="POST" enctype="multipart/form-data" action="/result">
            <h3>あなたの生まれた年を西暦で入力してください。</h3>
            <P>(1974年　→　1974)</P>
                <input type="text" name="years">年<br><br>
           <h3>あなたの生まれた月を入力してください</h3>
            <p>(4月 →　4)</p>
                <input type="text" name="months">月<br><br>
            <h3>あなたの生まれた日を入力してください</h3>
            <p>(2日 →　2)</p>
                <input type="text" name="days">日<br><br>
            <input type="submit" value="占う" class="btn btn-primary btn-lg" style="width:30%">
        </form>
</div>
<div class="col-md-1 col-sm-1"></div>
{% endblock%}